.App {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  background-color: #ce7cb5;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #007bff;
  color: rgb(204, 157, 57);
}
 div {
  margin: 20px;
  padding: 20px;
  background-color: #ad5e8a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
 }